@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/roboto.woff") format("woff"),
       url("../fonts/roboto.woff2") format("woff2");
}

@font-face {
  font-family: "Roboto";
  font-style: bold;
  font-weight: 700;
  src: url("../fonts/robotobold.woff") format("woff"),
       url("../fonts/robotobold.woff2") format("woff2");
}

@font-face {
  font-family: "Roboto";
  font-style: medium;
  font-weight: 500;
  src: url("../fonts/robotomedium.woff") format("woff"),
       url("../fonts/robotomedium.woff2") format("woff2");
}
