.container {
  width: 1160px;
  margin: 0 auto;
}

.visually-hidden {
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0;
  border: 0;
  height: 1px;
  width: 1px;
  overflow: hidden;
}

.p {
  margin: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5em;
}

.h1,
.h2,
.h3,
.h4,
.h5 {
  margin: 0;
  line-height: 1em;
}

.h1 {
  font-weight: 500;
  font-size: 55px;
}

.h2 {
  font-weight: 500;
  font-size: 45px;
}

.h3 {
  font-weight: 700;
  font-size: 36px;
}

.h4 {
  font-weight: 700;
  font-size: 24px;
  line-height: 1.25em;
  text-transform: uppercase;
}

.h5 {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.5em;
  text-transform: uppercase;
}

.list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.logo:hover {
  opacity: 0.7;
}

.link,
.button {
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  color: var(--text-color);
  text-transform: uppercase;
  border-radius: 3px;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.link:hover {
  color: var(--text-hover);
}

.link:active {
  color: var(--text-color);
  opacity: 0.3;
}

.button {
  color: var(--text-secondary-color);
}

.button:active {
  box-shadow: inset 0 3px 0 var(--button-shadow);
}

.button-primary {
  background-color: var(--primary-color);
}

.button-primary:hover {
  background-color: var(--primary-hover);
}

.button-primary:active {
  background-color: var(--primary-click);
  color: var(--primary-click-text);
}

.button-secondary {
  background-color: var(--secondary-color);
}

.button-secondary:hover {
  background-color: var(--secondary-hover);
}

.button-secondary:active {
  background-color: var(--secondary-click);
  color: var(--secondary-click-text);
}

.button-tertiary {
  background-color: var(--tertiary-color);
}

.button-tertiary:hover {
  background-color: var(--tertiary-hover);
}

.button-tertiary:active {
  background-color: var(--tertiary-click);
  color: var(--tertiary-click-text);
}

.button-quaternary {
  background-color: var(--quaternary-color);
  color: var(--text-color);
}

.button-quaternary:hover {
  background-color: var(--quaternary-hover);
}

.button-quaternary:active {
  background-color: var(--quaternary-click);
  color: var(--quaternary-click-text);
}

.input, .textarea {
  border: 2px solid var(--input-color);
  border-radius: 3px;
}

.input, .textarea:hover {
  border-color: var(--input-hover);
}

.input, .textarea:focus {
  border-color: var(--input-focus);
}

.input, .textarea:invalid {
  border-color: var(--input-invalid);
}

.fieldset {
  border: none;
  padding: 0;
  margin: 0;
}

.pagination-page_active {
  background-color: var(--white);
  border: 2px solid var(--quaternary-border);
  pointer-events: none;
}
